
<%= render 'components/banner' %>
<div id="list-path">

<div class="card-container">
  <% @lists.each do |list| %>
    <div class="card">
    <div class="heroku-image">
    <%= cl_image_tag list.photo.key, height: 300, width: 350, crop: :fill %>
    </div>
      <h3 class="list-name"><%= link_to list.name, list_path(list) %></h3>
    </div>
  <% end %>
</div>
<div class="body">
<footer></footer>
</div>
</div>
