
<%= render 'components/nav' %>
<div class="form-container">

  <div class="form">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit 'Create' %>
      <% end %>
    </div>
</div>
