<div class="banner-container">
<nav>
<div class="container">
  <h2>watch <%= image_tag('smile_2.svg') %> list </h2>

    <div class="menu">

      <div class="buttons">
       <button><%= link_to "Movie lists", lists_path(anchor: "list-path") %></button>
        <button><%= link_to "Add a list", new_list_path%></button>
      </div>

      </div>
    </div>

     <div class="banner">


    <h1> Curate movie lists & <br> get movie suggestions </h1>



  </div>

      <%# <button class = "hamburger">
        <span class = "is-active"></span>
        <span></span>
        <span></span>
      </button> %>
</div>
</nav>


</div>
