<nav>
  <h2>Movie List</h2>
    <div class="menu">
      <ul>
        <li>Add movie list</li>
        <li>Search</li>
      </ul>
    </div>

      <button class = "hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
</div>
</nav>
