 <nav>
  <div class="container">
     <h2>watch&nbsp;&nbsp;&nbsp;&nbsp;list</h2> <div class="rotate"><%= image_tag('smile_2.svg')%> </div>
    <div class="menu">

      <div class="buttons"></div>
        <div class="left"><button><%= link_to "Movie lists", lists_path(anchor: "list-path") %></button></div>
        <button><%= link_to "Add a list", new_list_path%></button>
      </div>
    </div>
 </div>
</nav>
