body {
background: #bdc3c7;
background: -webkit-linear-gradient(
  to left,
  #bdc3c7,
  #2c3e50
);
background: linear-gradient(
  to left,
  #bdc3c7,
  #2c3e50
);

}

@media only screen and (max-width: 1200px) {
.form {
height: 350px;
width: 500px;

}

}


@media only screen and (max-width: 600px) {
.form {
  height: 400px;
  width: 400px;
}

}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
