


.banner-container {
height: 100vh;
width: 100%;
background-image: url('movie2.jpg');
background-image:cover ;
}
.banner {
margin-top: 85px;
margin-left: 60px;
display:flex;

   h1 {
    display: flex;
    flex-direction: row;
    font-size: 90px;
    text-align: left;
    color: white;
    text-shadow: 1px 1px 1px lightgray;
    z-index:3;
   }

}

.banner-image{
  position: absolute;
left: 7px;
z-index: 1;

}
