.card-container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.card {
background-color: white;
height:200px;
width: 250px;
margin-top: 18px;
margin-bottom: 18px;
align-items: center;
border-radius: 8px;
}
