.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-left: 80px;
}

h1 {
  margin-top: 28px;
  margin-bottom: 28px;
  color: white;
  text-align: center;
}

.movie-card {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  width: 300px;
  height: 500px;
  padding: 50px;
  padding-bottom: 8px;
  margin: 28px 28px 28px 48px;
  border-radius: 18px !important;
  color: black !important;
  background-color: white;
  will-change: transform;
  transition: all 1s;

  h4 {
    align-self: center;
  }

  p {
    align-self: center;
    margin-top: 1px;
    margin-bottom: 1px;
  }



  img {
    align-self: center;
    width: 250px;
    height: 350px;
    border: 1px solid grey;
  }

}

.movie-card:hover {
  transition: all .2s;
  transform: translateY(-15px);
}

.show-container {
  display: flex;
}

.container-show {
  display: flex;
  justify-content: space-evenly;
}

.bookmark {
align-items: center;
width: 600px;
height: 400px;
padding: 28px;
border-radius: 8px;
margin-right: 200px;
color: white;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
color: white;

}
